/* This file is for your main application css. */

ul.list-footer-links {
	padding: 0;
	margin: 0;
}

ul.list-footer-links > li,
ul.list-footer-links > li:not(:last-of-type):after {
	display: inline-block;
}

ul.list-footer-links > li {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.list-footer-links > li img.portrait {
	float: left;
}

.kill-summary {
	position: relative;
}

.kill-summary .cost {
    float: right;
    vertical-align: top;
}

.kill-summary .kill-info {
    display: inline-block;
    padding: 0 10px;
}


.kill-summary .kill-info h3,
.kill-summary .kill-info p {
    margin: 0;
}

.kill-summary .kill-info h3 {
    font-size: 1.2em;
    font-weight: bold;
}


ul.list-footer-links > li:not(:last-of-type):after {
	content: '-';
	padding: 0 0.5em;
}

span.action {
    font-weight: bold;
}